@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fjalla+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.font-title{
    font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

body{
    background-color: rgb(106, 109, 106);
}

.background {
    opacity: 0.5;
}

header{
    background-color: rgb(28, 30, 27);
    align-items: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    color: rgb(47, 200, 27);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 14px;      /* diminui o texto */
}

.nav-item{
    margin: 15px;
    
    
}

.nav-item :hover{
    color: rgb(152, 240, 117);
}

.nav-link{
    text-decoration: none;
    font-size: 1.15 rem;
    color:black ;
    font-weight: 400;
    color: rgb(47, 200, 27);
}

.marca{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
}

.list-decoration{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a {
  font-size: 14px;      
  font-weight: normal; 
  color: #222;          
  text-decoration: none;
  margin-left: 20px;
}

nav a i {
  font-size: 14px;   /* deixa igual ao texto */
  margin-right: 6px;
}

nav a {
  display: flex;
  align-items: center;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px;
   margin-top: 20px;
}

.card{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.card:hover{
    transform: scale(1.10);
}
.card img{
    display: block;
    margin: 0 auto;
}

.card:hover {
    transform:scale(1.1);
    transition: 0.3s;
    
}

footer{
    color: #222;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.titulo-socio{
    color: #2cff00;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 50px;
}

/* Formulário */
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  margin: 0 auto;
  margin-top: 80px;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form label {
  margin-bottom: 8px;
  font-weight: bold;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #777474;
  border-radius: 8px;
}

form .titulo-checkbox {
  font-size: 16px;
  margin-bottom: 10px;
}

form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgb(39, 39, 234);
  color: white;
  cursor: pointer;
}

.cadastro {
    text-decoration: none
}

.cadastro:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
} 


/* Caixa do menu */
.menu{
    width:300px;
    margin-top:1px;
    margin-left: 1px;
    background:#f4f4f4;
    border-radius:8px;
    padding:10px;
    height: 100vh;
}

/* Lista */
.menu ul{
    list-style:none;
    padding:0;
    margin:0;
}

.menu a{
    text-decoration: none;
}

/* Item */
.menu li{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#ececec;
    border:1px solid #d0d0d0;
    margin-bottom:2px;
    height:32px;
    cursor:pointer;
    transition:0.2s;
}

.menu li:hover{
    background:#dfefff;
}

/* Parte esquerda */
.item-left{
    display:flex;
    align-items:center;
}

/* Ícone */
.item-left img{
    width:28px;
    height:28px;
    object-fit:cover;
    margin-right:10px;
}

/* Texto */
.item-left span{
    font-size:14px;
    font-weight:bold;
    color:#333;
}

/* Seta */
.arrow{
    padding-right:10px;
    color:#777;
    font-size:18px;
}

.conteudo{
    flex:1;
    margin-top:100px;
    background:#ffffff; 
    border-radius:8px;
    margin-left:20px;
    padding:20px;
    animation:fade 0.5s;
}

.titulo{
    text-align: center;
    color: #ffffff;
}
