@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fjalla+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body, html{
    height: auto;
    min-height: 100%;
}

.font-title{
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

body{
    background-color: rgb(106, 109, 106);
}

.background {
    opacity: 0.5;
}

header{
    background-color: rgb(28, 30, 27);
    align-items: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.1rem 6rem;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    color: rgb(47, 200, 27);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 14px;      /* diminui o texto */
    flex-wrap: wrap;
    gap: 10px;

}

.nav-item{
    margin: 15px;
    
    
}

.nav-item :hover{
    color: rgb(152, 240, 117);
}

.nav-link{
    text-decoration: none;
    font-size: 1.15 rem;
    color:black ;
    font-weight: 400;
    color: rgb(47, 200, 27);
}

.marca{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
}

.list-decoration{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a {
  font-size: 14px;      
  font-weight: normal; 
  color: #222;          
  text-decoration: none;
  margin-left: 20px;
}

nav a i {
  font-size: 14px;   /* deixa igual ao texto */
  margin-right: 6px;
}

nav a {
  display: flex;
  align-items: center;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px;
   margin-top: 20px;
   position: relative;
   padding: 20px;
   justify-content: center;
   position: relative;
   justify-content: space-evenly;

}

.card{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    width: 90%;
    max-width: 350px;
    position: relative;
    top: 114px;
}

.card h2{
    color: rgb(47, 200, 27);
}

.card:hover{
    transform: scale(1.10);
}
.card img{
    display: block;
    margin: 0 auto;
}

.card:hover {
    transform:scale(1.1);
    transition: 0.3s;
    
}

footer{
    color: #222;
    text-align: center;
    padding: 20px;
    margin-top: 190px;
    position: relative;
}

.titulo-socio{
    color: #2cff00;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 50px;
}

/* Formulário */
form {
  background-color: rgb(28, 30, 27);
  padding: 30px;
  border-radius: 12px;
  width: 434px;
  margin: 0 auto;
  position: relative;
  bottom: 600px;
}

.img-login {
    opacity: 0.4;
    margin-left: 58%;
    position: relative;
    bottom: 128px;
}

form img {
    display: flex;
    margin: 0 auto;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #fff;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #777474;
  border-radius: 8px;
}

form .titulo-checkbox {
  font-size: 16px;
  margin-bottom: 10px;
}

form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #2cff00;
  color: #fff;
  cursor: pointer;
}

.cadastro {
    text-decoration: none;
    color: #2cff00;

}

.cadastro:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
} 


/* Caixa do menu */
.menu{
    width:300px;
    background:#f4f4f4;
    border-radius:8px;
    padding:10px;
    height: 100vh;
    width: 3.2%;
    height: auto;
    margin-top: 0;
    position: absolute;
    top: 123px;
    height: 100vh;
    overflow: hidden;
    transition: .2s;
}

.menu:hover{
    width: 15%;
}

.btn-expandir{
    width: 100%;
    padding-left: 5px;
}

.btn-expandir i{
    color: #2fad18;
    font-size: 20px;
    cursor: pointer;
}



/* Lista */
.menu ul{
    list-style:none;
    padding:0;
    margin:0;
}

.menu a{
    text-decoration: none;
}

/* Item */
.menu li{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#ececec;
    border:1px solid #d0d0d0;
    margin-bottom:2px;
    height:32px;
    cursor:pointer;
    transition:0.2s;
}

.menu li:hover {
    background:#dfefff;
}

/* Parte esquerda */
.item-left {
    display:flex;
    align-items:center;
}

/* Ícone */
.item-left img {
    width:28px;
    height:28px;
    object-fit:cover;
    margin-right:10px;
}

/* Texto */
.item-left span {
    font-size:14px;
    font-weight:bold;
    color:#333;
    margin-left: 15px;
}

/* Seta */
.arrow {
    padding-right:10px;
    color:#777;
    font-size:18px;
}

.conteudo {
    flex:1;
    margin-top:100px;
    background:#ffffff; 
    border-radius:8px;
    margin-left:20px;
    padding:20px;
    animation:fade 0.5s;
    
}

.titulo {
    text-align: center;
    color: #ffffff;
}

.cardTimes {
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
    max-width: 300px;
    padding: 39px;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
    bottom: 160px;
}

.cardTimes:hover{
    transform:scale(1.1);
    transition: 0.3s;
}

.img-times {
    display: flex;
    width: 50%;
    height: auto;
    margin: 0 auto;
    position: relative;
    bottom: 850px;
}

.img-times:hover{
    transform:scale(1.1);
    transition: 0.3s;
}

/* BANNER */

.banner-socio{
    width: 100%;
    height: 450px;

    background-image: url("../img/banner-socio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;

    padding-left: 80px;
}

.texto{
    max-width: 600px;
}

.texto h1{
    font-size: 60px;
    margin-bottom: 20px;
    color: white;

}

.texto p{
    font-size: 24px;
    margin-bottom: 30px;
    color: white;
}

.btn-socio{
    text-decoration: none;
    background: #39ff14;
    color: black;
    padding: 15px 35px;
    border-radius: 10px;
    font-weight: bold;
    transition: .3s;
}

.btn-socio:hover{
    transform: scale(1.05);
}

/* BENEFÍCIOS */

.beneficios{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 20px;
    flex-wrap: wrap;
}

.beneficio{
    background: #1a1a1a;
    width: 280px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    transition: .3s;
}

.beneficio:hover{
    transform: translateY(-8px);
}

.beneficio i{
    font-size: 40px;
    color: #39ff14;
    margin-bottom: 15px;
}

.beneficio h3{
    margin-bottom: 10px;
    color: white;
}

.beneficio p{
    color: #39ff14;
}

/* PLANOS */

.planos{
    padding: 70px 20px;
}

.planos h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color:  #39ff14;
}

.cards-planos{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.plano{
    width: 320px;
    background: #1a1a1a;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    transition: .3s;
}

.plano:hover{
    transform: scale(1.03);
    border: 3px solid #39ff14;
}

.plano h3{
    font-size: 28px;
    color: white;
}

.plano span{
    display: block;
    color: #39ff14;
    font-size: 40px;
    margin: 20px 0;
}

.plano p{
    margin-bottom: 25px;
    color: #39ff14;
}

.plano button{
    width: 100%;
    padding: 12px;
    border: none;
    background: #39ff14;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.destaque{
    transform: scale(1.05);
}




